name: GO - Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"
          cache: false

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v9
        continue-on-error: false
        with:
          version: latest
          skip-cache: true
          skip-save-cache: true

      - name: Build
        run: go build -v -o dist/ecr-lifecycle-cleaner-${{ github.head_ref || github.ref_name }}

      - name: Test
        uses: robherley/go-test-action@v0.7.1
        with:
          testArguments: -v ./...

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ecr-lifecycle-cleaner
          path: dist/ecr-lifecycle-cleaner-${{ github.head_ref || github.ref_name }}
